---
import { cn } from "@utils/cn";

interface Props {
  id: string;
  class?: string;
}

const { id, class: className = "" } = Astro.props as Props;
---

<div
  id={id}
  class={cn("p-4", className)}
  role="tabpanel"
  data-tab-content>
  <slot />
</div>
