---
import { cn } from "@utils/cn";
interface Props {
  id: string;
  class?: string;
}

const { id, class: className = "" } = Astro.props as Props;
---

<button
  id={id}
  class={cn(
    "px-4 py-2 font-bold text-lg bg-muted text-foreground border-r-4 first:border-l-4 border-t-4 first:rounded-tl-lg last:rounded-tr-lg border-black transition-all duration-300 outline-none hover:bg-primary hover:text-primary-foreground active:bg-primary active:text-primary-foreground",
    className
  )}
  role="tab"
  data-tab-button>
  <slot />
</button>
