---
import Layout from "@layouts/Layout.astro";
import Button from "@components/button.astro";
import Card from "@components/Card.astro";
import Tabs from "@components/tabs/Tabs.astro";
import TabTrigger from "@components/tabs/TabTrigger.astro";
import TabPanel from "@components/tabs/TabPanel.astro";
---

<Layout title="Welcome to Astro.">
  <main class="p-8 space-y-8">
    <h1 class="place-self-center">Theme Showcase</h1>

    <section class="space-y-4">
      <h2 class="text-2xl font-semibold">Text Colors</h2>
      <div class="flex justify-start gap-4">
        <div>
          <p class="text-foreground">Primary Text</p>
          <p class="text-muted-foreground">Muted Text</p>
        </div>
        <div>
          <p class="text-destructive">Destructive Text</p>
          <a
            href="#"
            class="link">
            Link
          </a>
        </div>
      </div>
    </section>

    <section class="space-y-4">
      <h2 class="text-2xl font-semibold">Background Colors</h2>
      <div class="grid grid-cols-3 gap-4">
        <Card variant="primary">Primary</Card>
        <Card variant="secondary">Secondary</Card>
        <Card variant="accent">Accent</Card>
        <Card variant="muted">Muted</Card>
        <Card variant="destructive"> Destructive </Card>
      </div>
    </section>

    <section class="space-y-4">
      <h2 class="text-2xl font-semibold">Cards</h2>
      <div class="grid grid-cols-2 gap-4">
        <Card
          variant="accent"
          title="Card Title">
          <p>This is a card component using the accent theme.</p>
        </Card>

        <Card
          variant="card"
          title="Popover Card">
          <p>This simulates a popover component.</p>

          <Button
            slot="footer"
            variant="primary"
            size="sm"
            class="mt-4"
            >Close</Button
          >
        </Card>
      </div>
    </section>

    <section class="space-y-4">
      <h2 class="text-2xl font-semibold">Buttons</h2>
      <div class="space-x-4 space-y-4">
        <Button variant="primary">Primary</Button>
        <Button variant="secondary">Secondary</Button>
        <Button variant="accent">Accent</Button>
        <Button variant="destructive">Destructive</Button>
        <Button variant="outline">Outline</Button>
        <Button variant="ghost">Ghost</Button>
        <Button
          variant="icon"
          size="icon"
          >icon</Button
        >

        <Button size="sm">Small</Button>
        <Button size="default">Default</Button>
        <Button size="lg">Large</Button>
      </div>
    </section>

    <section class="space-y-4">
      <h2 class="text-2xl font-semibold">Chart Colors</h2>
      <div class="flex space-x-4">
        <Card class="bg-chart-1" />
        <Card class="bg-chart-2" />
        <Card class="bg-chart-3" />
        <Card class="bg-chart-4" />
        <Card class="bg-chart-5" />
      </div>
    </section>

    <section class="max-w-3xl">
      <Tabs>
        <TabTrigger
          id="tab1"
          slot="tab"
          >Tab 1</TabTrigger
        >
        <TabTrigger
          id="tab2"
          slot="tab"
          >Tab 2</TabTrigger
        >
        <TabTrigger
          id="tab3"
          slot="tab"
          >Tab 3</TabTrigger
        >

        <TabPanel
          id="panel1"
          slot="panel">
          <h2>Content for Tab 1</h2>
          <p>This is the content for the first tab.</p>
        </TabPanel>
        <TabPanel
          id="panel2"
          slot="panel">
          <h2>Content for Tab 2</h2>
          <p>This is the content for the second tab.</p>
        </TabPanel>
        <TabPanel
          id="panel3"
          slot="panel">
          <h2>Content for Tab 3</h2>
          <p>This is the content for the third tab.</p>
        </TabPanel>
      </Tabs>
    </section>
  </main>

  <div class="space-y-8 p-8 max-w-3xl">
    <h1 class="block">H1 Heading</h1>
    <h2 class="block">H2 Heading</h2>
    <h3 class="block">H3 Heading</h3>
    <h4 class="block">H4 Heading</h4>
    <h5 class="block">H5 Heading</h5>
  </div>
</Layout>
