---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@utils/cn";

const button = cva(
  "rounded-xl font-bold py-3 px-6 text-lg border-2  transition-all duration-150",
  {
    variants: {
      variant: {
        primary: ["bg-primary", "text-primary-foreground"],
        secondary: ["bg-secondary", "text-secondary-foreground"],
        accent: ["bg-accent", "text-accent-foreground"],
        muted: ["bg-muted", "text-muted-foreground"],
        destructive: ["bg-destructive", "text-destructive-foreground"],
        outline: [
          "bg-transparent",
          "border-2",
          "border-primary",
          "text-primary",
        ],
        icon: [
          "shadow-[0px_0px_0_0_rgba(0,0,0,0.1)]",
          "hover:shadow-[4px_4px_0_0_rgba(0,0,0,1)]",
          "active:shadow-none active:translate-x-1 active:translate-y-1",
          "bg-muted",
          "border-2 border-black",
          "rounded",
        ],
        ghost: [
          "bg-transparent",
          "text-foreground",
          "hover:bg-muted",
          "hover:border-2",
        ],
        link: [
          "text-primary",
          "underline",
          "hover:text-primary/80",
          "py-1",
          "px-2",
        ],
      },
      size: {
        default: [
          "text-lg",
          "shadow-[6px_6px_0_0_rgba(0,0,0,1)]",
          "hover:shadow-[3px_3px_0_0_rgba(0,0,0,1)]",
          "active:translate-x-[6px] active:translate-y-[6px] active:shadow-none",
        ],
        icon: ["py-2", "px-2"],
        sm: [
          "py-2",
          "px-4",
          "text-base",
          "shadow-[4px_4px_0_0_rgba(0,0,0,1)]",
          "hover:shadow-[2px_2px_0_0_rgba(0,0,0,1)]",
          "active:translate-x-[4px] active:translate-y-[4px] active:shadow-none",
        ],
        lg: [
          "py-4",
          "px-8",
          "text-xl",
          "shadow-[8px_8px_0_0_rgba(0,0,0,1)]",
          "hover:shadow-[4px_4px_0_0_rgba(0,0,0,1)]",
          "active:translate-x-[8px] active:translate-y-[8px] active:shadow-none",
        ],
      },
    },
  }
);
export interface Props
  extends HTMLAttributes<"button">,
    VariantProps<typeof button> {}

const {
  variant = "primary",
  size = "default",
  class: className,
  id,
  ...rest
} = Astro.props as Props;
---

<button
  class={cn(button({ variant, size }), className)}
  {...rest}
  id={id}>
  <slot />
</button>
